/* Preliminary stuff */

:root{
    --color1:#00008B;
    --color2:#6495ED;
    --color3:#00FFFF;
    --color4:#F0FFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Times New Roman", Times, serif;
}

body{
    background:#fff;
    overflow-x:hidden;
}

/* NavBar */
header{
    position: relative;
    width: 100%
}

.nav{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 999;
}

.logo{
    width: 300px;
    height: auto;
    padding: 10px 50px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Bar Icon */

